.navbar.navbar-default{
	background: url('../images/header.jpg') no-repeat 0px 0px;
	background-size: 100% 100%;
	/*background-size: 170px, 50px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;*/
	min-height: 170px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding-top: 120px;
	padding-right: 20px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color: #ffffff;
}