.navbar.navbar-default, .navbar.navbar-default.navbar-static-top{
	background: url('../images/header.jpg') no-repeat 0px 0px;
	background-size: 100% 100%;
	/*background-size: 170px, 50px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;*/
	min-height: 170px;
}
.navbar>.container .navbar-brand{
    margin-top: 60px;
    margin-left: -80px;
    width: 100px;
    height: 70px;
}
.navbar-nav>li>a{
	padding: 15px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding-top: 120px;
	padding-right: 20px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color: #ffffff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    margin-top: 0;
    right: 0;
    left: auto;
}